.container{
    position:relative;
    margin-bottom:50px;
    width:100%;
  }
  img{display:flex;
    width:100%;
  }
  .title{
    position:absolute;
    top:60%;
    left:20%;
    font-family: 'Abril Fatface', cursive;
  }
  h2{
    font-size:40px;
    padding:0px;
    margin:0px;
    font-style:bold;
  }
  h1{
    font-size:60px;
    padding:0px;
    margin:0px;
  }
  p{
    width:550px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Josefin Sans', sans-serif;
    font-size:16px;
  }
  blockquote::before{
    position:absolute;
    top:-55px;
    left:10px;
    content:'"';
    font-family: 'IM Fell French Canon SC', serif;
    font-size:100px;
    transform: rotate(180deg);
  }
  blockquote{
    position:relative;
    width:600px;
    height:auto;
    text-align:left;
    background:grey;
    color:white;
    font-family: 'Abril Fatface', cursive;
    margin-left:auto;
    margin-right:auto;
    padding:40px 20px;
    font-size: 40px;
  }
  ul{
    width:550px;
    margin-left:auto;
    margin-right:auto;
    font-family: 'Josefin Sans', sans-serif;
  }
  h4{
    display:block;
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px;
    text-transform:uppercase;
    margin-left:390px;
  }
  h3{
    display:block;
    font-family: 'Josefin Sans', sans-serif;
    font-size:15px;
    margin-left:390px;
    margin-bottom:0px;
    margin-top:30px;
    width:500px;
  }
  h6{
    display:block;
    font-family: 'Merriweather', serif italic;
    font-size:12px;
    margin-left:390px;
    margin-top:0px;
    width:500px;
  }
  
  hr{
    width:550px;
    border:1px solid;
  }